
body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #0d0d0d;
  }
  
  .score-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 30px;
    margin-top: 100px;
  }
  
  .score {
    background-color: #0077b6;
    color: #f5f5f5;
    border-radius: 5px;
    padding: 10px 15px;
    margin-right: 20px;
    text-align: center;
  }
  
  .score.correct-score {
    background-color: #1dd70c;
  }
  
  .score.incorrect-score {
    background-color: #b42935;
  }
  
  .score-value {
    font-weight: bold;
    font-size: 28px;
  }
  
  .score-label {
    display: block;
    margin-bottom: 5px;
  }
  
  /* Timer Styles */
  .timer-container {
    text-align: center;
    font-size: 24px;
    margin-top: 30px;
    color: #f4f4f4;
    font-weight: 600;
  }
  
  /* Question Styles */
  #question-container {
    width: 70%;
    margin: 50px auto 0;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.2);
    background-color: #161616;
    display: block;
    text-align: center;
  }
  
  #question {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 30px;
    color: #ffffff;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  li {
    margin: 10px 0;
  }
  
  button {
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  #answer1 {
    background-color: #0f90cc;
    color: #f5f5f5;
  }
  
  #answer2 {
    background-color: #0f90cc;
    color: #f5f5f5;
  }
  
  #answer3 {
    background-color: #0f90cc;
    color: #f5f5f5;
  }
  
  #answer4 {
    background-color: #2196f3;
    color: #f5f5f5;
  }
  
  #next-button {
    background-color: #d48e0c;
    color: #f5f5f5;
    margin-top: 30px;
  }
  
  #feedback {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    text-align: center;
    color: #f44336;
  }
  
  #feedback.correct {
    color: #1eae98;
  }
  